---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---
$footer-background-color: #5065a8
$link-color: #5065a8
$masthead-link-color: $link-color
$masthead-link-color-hover: $link-color

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
